body{
    background: url("/css/img/main_background.jpg") no-repeat ;
    background-size: cover;
}

.container_c {
    max-width: 960px;
    width: 100%;
}

.enter_f{
   /* -ms-transform: scale(2, 3);
    -webkit-transform: scale(2, 3);
    transform: scale(0.8, 0.8);*/
    font-size: 14px;
    margin-top: 106px;
    margin-bottom: 40px;
    min-height: 617px;

    max-width: 400px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.84);
    text-align: center;
    padding: 40px 0 38px 0 ;
}
.enter_f .text_f{
    padding: 32px 0 16px 0;
    font-size: 19px;
    line-height: 25px;
}
.enter_f span{
    color: #187cbb;
}
.facebook_btn{
    margin: 38px 0 36px 0px ;
}

.facebook_btn2{
    margin: 38px 0 -9px 0px;
}
.facebook_btn2 ul{
    margin: -19px 3.5em 3.5em 0;
}
.facebook_btn2 li{
    width: 100%;
    list-style: none;
}

.facebook_btn2 .text_2{
    margin-top: 17px;
}
@media handheld, screen and (max-width: 1140px) {
    .enter_f{
        margin-top: 26px;
    }

}
@media handheld, screen and (max-width: 1050px) {
    .enter_f{
        margin-top: 10px;
    }

}
@media handheld, screen and (max-width: 960px) {
    .container_c {
        text-align: center;

    }
    .enter_f{

        margin: 0 auto;
        display: inline-block;
    }

}