.filtr_form .content_info{
    /*background-color: transparent;*/
    width: none;
     margin-right: 0;
}
.filtr_form .content_info_block{
    /*background-color: #fff;*/
    float: left;
    max-width: 650px;
    width: 100%;
    margin-right: 30px;
    padding: 0;
}

.form_form_filtr {

}
.form_form_filtr.form_form .date_callendar{
    width: 192px;
}
.form_form_filtr .form_label{
width: 94px !important;

}
.form_form_filtr .separate {

    width: 13px;
}
.form_form_filtr input[type=text]{
    padding: 4px 6px 4px 11px;

}
.form_form_filtr .stadt a{
    text-decoration: underline;
    line-height: 15px;
    width: 152px;
    display: block;
}
.form_form_filtr .date_callendar span{
  right:0;
}
.form_form_filtr .location input{
    padding: 4px 6px 4px 14px;
}

.form_form_filtr .button_form button{
    margin: 19px 0 0 0;
    padding: 5px 38px 4px 41px;
}

.filtr_extra_pic{
    margin: 32px 0 0 0;
    display: inline-block;
    width: 100%;
    height: 265px;
    background: url(/css/img/foto-cars.jpg) no-repeat center center;
}