.form_message .form_label{
    vertical-align: top;
}


.form_message  .title_img{
    background: url('/css/img/icons_dev2.png') #017eba -4px -1127px !important;
}
.form_message label{
    cursor: pointer;
}











